<!-- <body>
  
  <form method="POST" class="value" action="/video">
    <div>
      <p1>
        RTSP Online
      </p1>
    </div>
    <div class="text">
      <input class="textbox" name="text" value="1" />
      <input class="link" value="" name="link">
      <input class="button" type="submit" value="OK"/>
    </div>

    
    </form>
   
</body> -->


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>RTSP Online</title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="../static/style.css">

</head>
<body>
<section class='login' id='login'>
  <div class='head'>
  <h1 class='company'>RTSP</h1>
  </div>
  <form method="POST" class="value" action="/video">
    <div class='form'>
    
      
      <input type="text" placeholder='Link RTSP' class='text' id='username' required name="link"><br><br>
      <input type="text" placeholder='Độ nén video' class='text' id='username' required name="text"><br><br>
      <button class='btn-login' id='do-login' type="submit">OK</button>
        
      </div>
      <!-- <div class="form">
        <input class="textbox" name="text" value="1" />
        <input class="link" value="" name="link">
        <input class="button" type="submit" value="OK"/>
      </div> -->
  </form>

</section>
<footer>
 
</footer>

</body>
</html>
